body {
  color: #404040;
  max-width: 900px;
  margin-left: 50px;
  background: #e6f0ff;
}

p {
  text-align: justify;
}

.navbar {
  padding: 15px;
  margin-left: -35px;
}
.nav {
  color: orange;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
}

.current {
  color: green;
  border-bottom: 3px dotted green;
}

.def {
  color: DimGray;
  background-color: #b3d1ff;
  text-align: justify;
}

.term {
  font-size: 1.2em;
}

.deflist {
  clear: both;
  list-style: none;
  padding-left: 2%;
}
.deflist li {
  margin: 1em 0;
  padding-top: .5em;
  display: block;
  position: relative;
  counter-increment: inst;
}
.deflist li::before {
  content: counter(inst);

  background: rgba(255, 150, 0, 0.35);
  color: #fff;

  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px rgba(255, 150, 0, 0.5);

  border-radius: 0 0.675em 0.675em 0;
  font-size: 1.5em;
  text-align: center;

  padding-top: 0;
  padding-left: 2.25%;
  left: -5%;
  top: -0.65em;
  height: 1.0em;
  width: 1.35em;
  position: absolute;

  transition: all 0.2s ease-in-out;

  z-index: -1;
}
@media (min-width: 33em) {
  .deflist li:before {
    border-radius: 50%;
    font-size: 1.2em;
    height: 1.35em;
    margin-left: 2.5%;
    padding-left: 0;
    padding-top: 0;
    top: -0.15em;
    width: 1.35em;
    z-index: -1;
  }
}





.OLDdeflist {
  max-width: 600px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
.OLDdeflist li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  font-size: 1.2rem;
}
.OLDdeflist li::before {
  content: counter(my-awesome-counter);
  color: #80b3ff;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  --size: 26px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(3deg);
  background: black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}